<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<body>
<div th:fragment="header">
    <div class="dashboard-header">
        <nav class="navbar navbar-expand-lg bg-white fixed-top border-bottom">
            <a class="navbar-brand font-weight-bold text-dark" th:href="@{/}">cataclysmSolutions</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto navbar-right-top">
                    <li class="nav-item"><a class="nav-link" th:href="@{/}">Landing</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/autoformprocessing}">AutoFormProcessing</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/customtotem}">CustomTotem</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/vacation-scheduling}">Vacation Scheduling</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/about}">About Us</a></li>
                </ul>
            </div>
        </nav>
    </div>
</div>
</body>

</html>
