<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<body>
<div th:fragment="left-sidebar">
    <div class="nav-left-sidebar bg-light border-right">
        <div class="menu-list">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="collapse navbar-collapse show" id="navbarNav">
                    <ul class="navbar-nav flex-column w-100">
                        <li class="nav-divider text-uppercase text-muted px-3 mt-3">Workspace</li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" th:href="@{/autoformprocessing}">
                                <i class="fa fa-fw fa-file-alt"></i>AutoFormProcessing
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" th:href="@{/customtotem}">
                                <i class="fa fa-fw fa-cubes"></i>CustomTotem
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" th:href="@{/about}">
                                <i class="fa fa-fw fa-info-circle"></i>About Us
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>
</body>

</html>
